{% extends "layout.html" %}
{% block body %}

<section class="back">
        <div >
          <img class="img" src="{{url_for('static',filename='img/img.png')}}"  alt="">
        </div>
</section>


<div class="row card_row">
  <h2 class="text-center"><u><i>Choose Your Favourite Meal</i></u></h2>
{% for x in data %}
  <div class="col-sm-4">
    <div class="card cardu ">
      {%set fname = 'img/' + x[4] %}
      <img class="card-img-top" src="{{url_for('static',filename= fname)}}"  >
      
    
    <div class="card-body">
    
      <h4 class="card-title">{{x[5]}}</h4>
    
 <div class="row no-gutters">
  <h5 class="col-10 card-subtitle mb-2 text-muted">Item</h5>
  <h5 class="col-2 card-subtitle mb-2 text-muted">Qty</h5>
</div>
{%set k =module.loads(x[2]) %}
{%set result = ''.join(k).replace(',', '') %}
{%set result = ''.join(result).replace('[', '') %}
{%set result = ''.join(result).replace(']', '') %}
{%set result = ''.join(result).replace(' ', '') %}



{%set i =module.loads(x[3]) %}

{%set result1 = ''.join(i).replace(',', '') %}
{%set result1 = ''.join(result1).replace('[', '') %}
{%set result1 = ''.join(result1).replace(']', '') %}
{%set result1 = ''.join(result1).replace(x[5], '') %}




  

 {%for l in range(0,result|length) %}
      <div class="row no-gutters">
   {%for m in data1 %}
   {% set a= m[0] %}
      {% if a == result[l]| int  %}
   
   
  <div class="col-10">{{m[1]}}</div>
  
  <div class="col-2">{{result1[l]}}</div>
  {% endif %}
  {% endfor %}
</div>


{% endfor %}
 <div class="row no-gutters" style="margin-top:15px;">
  <h5 class="col-10 card-subtitle mb-2 text-muted">Price :- </h5>
  <h5 class="col-2 card-subtitle mb-2 text-muted"> {{ x[6] }}</h5>
</div>

 

<div style="margin-top:10px;margin-bottom: 20px;">
  <center>
  <a href="/uicart/{{x[0]}}/{{x[1]}}">
    <button class="btn btn-primary h-30px" style="padding-bottom:10px;"> Add To Cart</button>
  </a>
  </center>
</div>
    </div>
  </div>
</div>


{% endfor %}

</div>



<!-- static example
<div class="row card_row">

  <div class="col-sm-4">
    <div class="card cardu ">
      <img class="card-img-top" src="{{url_for('static',filename='img/img.png')}}"  >
    
    <div class="card-body">
    
      <h4 class="card-title">hiii</h4>
    
 <div class="row no-gutters">
  <h5 class="col-10 card-subtitle mb-2 text-muted">Item</h5>
  <h5 class="col-2 card-subtitle mb-2 text-muted">Qty</h5>
</div>

      <div class="row no-gutters">
  <div class="col-10">Chapati</div>
  <div class="col-2">2</div>
</div>

 <div class="row no-gutters">
  <div class="col-10">Chapati</div>
  <div class="col-2">2</div>
</div>
    </div>
  </div>
</div>




</div>


-->


{% endblock %}